.wrapper{
  max-width: 350px;
  color: #666;
}

input{
  box-sizing: border-box;
  width: 75%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
  color: #fff;
  background-color: #666;
}

.button-large {
  width: 36%;
}

button {
  font-size: 18px;
  width: 17%;
  height: 3.5rem;
  color: #333;
  vertical-align: middle;
  border-color: #fff;
}



